{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for photograph in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' photograph.id %}">
                                {% if photograph.image == "" or photograph.image == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ photograph.image.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{ photograph.category }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ photograph.name }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ photograph.legend }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}